.search-form {
	padding: 25px 58px;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	gap: 20px;
	& form {
		position: relative;
		flex-grow: 1;
		border-radius: 24px;
		background: #fff;
		box-shadow: 3px 3px 1px 1px rgb(225, 226, 227);
		border: 1px solid rgb(216, 216, 216);
		display: flex;
		align-items: center;
		padding-right: 5px;
	}

	& .form-element {
		flex-grow: 1;
		flex-shrink: 1;
	}

	& input[type="search"] {
		font-size: 16px;
		border-radius: 24px;
		padding-inline: 0 30px;
		border: none;
		box-shadow: none;
	}

	& form > svg {
		position: absolute;
		background: transparent;
		border: none;
		font-size: 14px;
		left: 24px;
		top: 50%;
		transform: translateY(-50%);

		& + .form-element {
			padding-left: 60px;
		}
	}

	& button[type="submit"] {
		border: none;
		font-size: 14px;
		z-index: 2;
		border-radius: 24px;
	}
	& .form-element .select-suggest {
		padding: 6px 0;
		& > div > div {
			padding-inline: 0;
		}
	}
}
@media only screen and (max-width: 1030px) {
	.search-form {
		padding-right: 24px;
	}
}
@media only screen and (max-width: 768px) {
	.search-form {
		& form > svg {
			display: none;
		}
		& .form-element .select-suggest {
			margin-left: 15px;
		}
		& form > svg {
			& + .form-element {
				padding-left: 0;
			}
		}
		& input[type="search"] {
			padding-left: 20px;
			padding-right: 20px;
		}
		& button[type="submit"] {
			font-size: 13px;

			& svg {
				display: none;
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	.search-form {
		flex-direction: column;

		& form {
			order: -1;
		}
	}
}
@media only screen and (max-width: 400px) {
	.search-form form {
		flex-direction: column;
		padding: 9px;
		& .form-element .select-suggest {
			margin-left: 0;
			width: 100%;
		}
		& .form-element {
			width: 100%;
		}
		& > button {
			width: 100%;
		}
	}
}
