.preloader {
	top: 0;
	left: 0;
	display: flex;
	align-items: safe center;
	justify-content: center;
	text-align: center;
	width: 100%;
	padding: 100px 5%;
	box-sizing: border-box;
	overflow: auto;
	background: rgba(255, 255, 255, 0.6);
	z-index: 9999;
	&.preloader-cover {
		position: absolute;
		height: 100svh;
	}
	&.preloader-inline {
		position: relative;
		height: auto;
	}
}

.preloader svg {
	font-size: 25px;
	color: var(--orange);
}
